.btnstyle{
    color:#ffffff;
    background: #154ddc;
    padding-top:"12px";
    font-size:25px;
    margin-left: 225px;
    border-radius: 15%;
   }
   .btnsty{
    color:#ffffff;
    background: #c4379e;
    padding-top:"12px";
    font-size:30px;
     margin-left: 15px;
    border-radius: 15%;
   }