.tablebordershadow .th,.tablebordershadow .td{
  background-color: transparent;
}
.container1{
  display: flex;
  justify-content: center;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}